<div class="gameChat" id="gameChat">
      
      <div id="chatMessages" class="chat"></div>
      <input type="text" id="chatInput" placeholder="Type here to send chat message..."/>
      <button id="chatButton">Send message</button>
    </div>
    <div class="loadingbar" id="loadingbar" style="display:none">
        <div class="bar" id="bar"></div>
    </div>
