<div class="gameChat" id="gameChat">
    <div id="chatMessages" class="chat"></div>
    <input type="text" id="chatInput" placeholder="Type here to send chat message..."/>
    <button id="chatButton">Send message</button>
    <span><audio id="music" style="border-radius:5px;height:20px;width:200px;margin:5px;" autoplay controls>
    <source src="music2.mp3" type="audio/mpeg">
    Votre navigateur ne supporte pas la balise audio.
</audio></span>
</div>
<div class="loadingbar" id="loadingbar" style="display:none">
    <div class="bar" id="bar"></div>
</div>
